@import 'variables';

.page-action-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  &.action{
    .page-left-pre,.page-left-next{
      transition: all $pageTime ease-out;
      transform: translateX(-100%);
    }
    .page-right-pre,.page-right-next{
      transition: all $pageTime ease-out;
      transform: translateX(100%);
    }
  }
  .page-left-pre,.page-right-pre{
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    transition: all 1s;
  }
  .page-left-next{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 100%;
    transform: translateX(0);
    transition: all $pageTime ease-out;
  }
  .page-right-next{
    position: fixed;
    height: 100%;
    width: 100%;
    right: 100%;
    transform: translateX(0);
    transition: all $pageTime ease-out;
  }
}

.page {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*路由切换动画——左移动*/
.page-left-enter {
  transform: translateX(100%);
  z-index: 999;
  opacity: 0;
}

.page-left-enter.page-left-enter-active { //结束
  transform: translateX(0);
  opacity: 1;
  transition: all $pageTime ease-out;
}

.page-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.page-left-exit.page-left-exit-active { //结束
  transform: translateX(-50%);
  opacity: 0;
  transition: all $pageTime ease-out;
}

/*路由切换动画——右移动*/
.page-right-enter {
  transform: translateX(-100%);
  z-index: 999;
  opacity: 0;
}

.page-right-enter.page-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all $pageTime ease-out;
}

.page-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.page-right-exit.page-right-exit-active {
  transform: translateX(50%);
  opacity: 0;
  transition: all $pageTime ease-out;
}

/*渐变*/
.fade-right-enter {
  opacity: 0;
}

.fade-right-enter.fade-right-enter-active {
  opacity: 1;
  transition: all $fadeTime ease-out;
}

.fade-right-exit {
  opacity: 1;
}

.fade-right-exit.fade-right-exit-active {
  opacity: 0;
  transition: all $fadeTime ease-out;
}
