// z-index -----------------------------------------------------
$zIndexHeader: 999;
$zIndexTab: 999;
$zIndexPopup: 1000;
$zIndexMsg: 9999;


// height -----------------------------------------------------
$heightHead: 88px;
$heightIconImg: 100px;
$heightIconTip: 52px;

// time  -----------------------------------------------------
$pageTime: .2s;
$fadeTime: .3s;


// color  -----------------------------------------------------
$blue1: #545dff;
$red1: #fd687d;
$orange1: #ff9900;
$fcolor1: #1b1b4e;
$fcolor2: #84868c;
$fcolor3: #aeb3c0;
$bgcolor1: rgba(0, 0, 0, .6);

